# .config/fish/*
# !.config/fish/*.fish
# !.config/fish/functions/
# !.config/fish/conf.d/
# .vim/.netrwhist
# .config/nvim/.netrwhist
# .config/nvim/plugged/

.config/*

!.config/fish/
.config/fish/fishd.*

!.config/nvim/
.config/nvim/.netrwhist
.config/nvim/plugged
