.config/*

!.config/fish/
# these two items aren't quite ready for the repo
.config/fish/fish_variables
.config/fish/completions

!.config/omf/

!.config/starship.toml

!.config/helix/
.config/helix/runtime/

.cargo/*
!.cargo/config
!.cargo/config.toml

!.config/bat/
