[submodule "dein.vim"]
	path = .config/nvim/dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
[submodule "oh-my-fish"]
	path = oh-my-fish
	url = https://github.com/oh-my-fish/oh-my-fish
[submodule ".config/kak/plugins/plug.kak"]
	path = .config/kak/plugins/plug.kak
	url = https://github.com/andreyorst/plug.kak.git
